@font-face {
    font-family: "Charis";
    src: url(../fonts/Slabo27px-Regular.ttf);
}

@font-face {
    font-family: "Libre";
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 12px;
    background-color: #D4F5FF;
}

header {
    min-height: 158px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #70DEFF;


}

h1 {
    position: relative;
    text-align: center;

    animation: izquierda forwards 4s;
}

h1,
h2,
h3,
nav>a {
    font-family: "Libre";
}

p {
    font-family: "Charis";
}

header>img {
    height: 150px;
}

@keyframes izquierda {
    from {
        left: 80%;
    }

    to {
        left: 0;
        text-shadow: 2px 2px 10px white;
    }
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    margin-bottom: 5px;
}

nav>a {
    width: 100px;
    margin: 0 auto;
    padding: 15px;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(112, 184, 255, 1) 100%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #aaaaaa;
    border: 1px solid rgba(0, 0, 0, 0.062);
}

nav>a:hover {
    font-weight: bolder;
    text-shadow: 2px 2px 3px white;
}

main {
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 10px;

}

/* Top button */
main>div:first-of-type {
    position: sticky;
    width: 40px;
    top: 82.8vh;
    left: 84vw;
    margin-top: -50px;
    z-index: 1;
}

main>div:first-of-type>a {
    padding: 15px;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 10px;

    color: rgb(255, 255, 255);
    background-color: #323031;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
}

main>div {
    display: grid;

}

div>h2 {
    position: sticky;
    background-color: rebeccapurple;
    height: 50px;
    text-align: center;
    padding: 10px;
    top: 0;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.185);
    text-shadow: 2px 2px 5px black;
}

div:nth-child(3)>h2 {
    height: 100%;
    background: url("../img/valencia.jpg");
    background-position: center;
    background-size: cover;
}

div:nth-child(5)>h2 {
    height: 100%;
    background: url("../img/alicante.jpg");
    background-position: center;
    background-size: cover;
}

div:nth-child(7)>h2 {
    height: 100%;
    background: url("../img/castellon.jpg");
    background-position: center;
    background-size: cover;
}

section {
    min-height: 350px;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;

    display: grid;
}

section>h3 {
    font-size: 18px;
}

article {
    width: 100%;
}

article>img {
    height: 100px;
    width: 55%;
    float: left;
    padding: 5px;
    object-fit: cover;
    margin-right: 10px;
}

article>p {
    min-height: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: justify;
}

section>div {
    min-height: 20%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

section>div>a {
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #323031;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
    margin: 0 5px 5px 0;
    font-family: "Libre";
    font-size: 12px;
}

section>div>a:hover {
    text-shadow: 0 0 10px white;
    position: relative;
    cursor: pointer;
    top: 1px;
    left: 1px;
    font-weight: bolder;
    animation: beat .4s infinite alternate;
}

@keyframes beat {
    to {
        text-shadow: 0 0 0 white;
        transform: scale(1.1);
    }
}

footer {
    width: 100%;
    height: 80px;
    background-color: #3399FF;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer>* {
    font-size: 18px;
    margin: 20px;
}


/* Ventana Emergente */
#ventanaEmergente {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.418);
    box-shadow: 2px 2px 20px black;
}

#ventanaEmergente>button {
    height: 30px;
    width: 30px;

    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}

#ventanaEmergente>img {
    display: none;
    height: 90%;
    width: 80%;
    object-fit: contain;
}